ion-card {
    background: #F2F7FC;
}

form > ion-card > img {
    width: 30%;
    margin-left: 35%;
}

.recovery {
    text-align: center;
    color: dimgray;
    font-size: 14px;
    font-weight: bold;
}
